# Local tools and build files.
.tools/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
android/app/build/
android/.kotlin/
coverage/
test_outputs/
*.log
*.iml
.idea/
.vscode/
.DS_Store
android/local.properties
key.properties
*.jks
*.keystore
.env
.env.*
*.apk
*.aab
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
